USE [master]
GO
/****** Object:  Database [SyncLayerDB]    Script Date: 21/3/2026 07:26:41 ******/
CREATE DATABASE [SyncLayerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SyncLayerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SyncLayerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SyncLayerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SyncLayerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SyncLayerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SyncLayerDB]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[AutorID] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [varchar](100) NULL,
	[PrimerApellido] [varchar](100) NULL,
	[SegundoApellido] [varchar](100) NULL,
	[Nacionalidad] [nvarchar](50) NULL,
	[EstadoID] [int] NOT NULL,
 CONSTRAINT [PK__Autor__F58AE909E2CD907E] PRIMARY KEY CLUSTERED 
(
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[FechaUltimaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devolucion]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devolucion](
	[DevolucionID] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoID] [int] NOT NULL,
	[FechaEntrega] [datetime2](7) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DevolucionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
	[TipoEstado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[LibroID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[AnioPublicacion] [int] NULL,
	[CategoriaID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[StockTotal] [int] NOT NULL,
	[StockDisponible] [int] NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroAutor]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroAutor](
	[LibroID] [int] NOT NULL,
	[AutorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC,
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multa]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multa](
	[MultaID] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoID] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[FechaGeneracion] [datetime2](7) NULL,
	[Pagada] [bit] NULL,
	[FechaPago] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MultaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[PersonaID] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[SegundoNombre] [nvarchar](100) NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[SegundoApellido] [nvarchar](100) NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[Genero] [nvarchar](1) NULL,
	[FechaNacimiento] [date] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](max) NULL,
	[TipoPersonaID] [int] NOT NULL,
 CONSTRAINT [PK__Persona__7C34D323930CAFFA] PRIMARY KEY CLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[PrestamoID] [int] IDENTITY(1,1) NOT NULL,
	[LibroID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[FechaPrestamo] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[EstadoID] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrestamoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPersona]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPersona](
	[TipoPersonaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoPersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[EstadoID] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[UsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([AutorID], [PrimerNombre], [PrimerApellido], [SegundoApellido], [Nacionalidad], [EstadoID]) VALUES (1, N'Gabriel', N'García', N'Márquez', N'Colombia', 4)
INSERT [dbo].[Autor] ([AutorID], [PrimerNombre], [PrimerApellido], [SegundoApellido], [Nacionalidad], [EstadoID]) VALUES (2, N'Isabel', N'Allende', NULL, N'Chile', 4)
INSERT [dbo].[Autor] ([AutorID], [PrimerNombre], [PrimerApellido], [SegundoApellido], [Nacionalidad], [EstadoID]) VALUES (3, N'Stephen', N'Hawking', NULL, N'Reino Unido', 4)
SET IDENTITY_INSERT [dbo].[Autor] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaID], [NombreCategoria]) VALUES (2, N'Ciencias')
INSERT [dbo].[Categoria] ([CategoriaID], [NombreCategoria]) VALUES (6, N'Fantasía')
INSERT [dbo].[Categoria] ([CategoriaID], [NombreCategoria]) VALUES (3, N'Historia')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfiguracionSistema] ON 

INSERT [dbo].[ConfiguracionSistema] ([ConfigID], [Clave], [Descripcion], [Valor], [FechaUltimaModificacion]) VALUES (1, N'MAX_DIAS_PRESTAMO', N'Días permitidos por préstamo', CAST(7.00 AS Decimal(18, 2)), CAST(N'2026-02-03T16:36:29.9622809' AS DateTime2))
INSERT [dbo].[ConfiguracionSistema] ([ConfigID], [Clave], [Descripcion], [Valor], [FechaUltimaModificacion]) VALUES (2, N'MAX_LIBROS_USUARIO', N'Máximo de libros simultáneos', CAST(3.00 AS Decimal(18, 2)), CAST(N'2026-02-03T16:36:29.9622809' AS DateTime2))
INSERT [dbo].[ConfiguracionSistema] ([ConfigID], [Clave], [Descripcion], [Valor], [FechaUltimaModificacion]) VALUES (3, N'VALOR_DIA_MORA', N'Costo por día de atraso', CAST(2.50 AS Decimal(18, 2)), CAST(N'2026-02-03T16:36:29.9622809' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ConfiguracionSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Devolucion] ON 

INSERT [dbo].[Devolucion] ([DevolucionID], [PrestamoID], [FechaEntrega], [Observaciones]) VALUES (1, 2, CAST(N'2026-03-05T10:26:17.3433333' AS DateTime2), N'')
INSERT [dbo].[Devolucion] ([DevolucionID], [PrestamoID], [FechaEntrega], [Observaciones]) VALUES (2, 1, CAST(N'2026-03-05T10:40:32.6366667' AS DateTime2), N'')
INSERT [dbo].[Devolucion] ([DevolucionID], [PrestamoID], [FechaEntrega], [Observaciones]) VALUES (3, 3, CAST(N'2026-03-06T09:12:48.4233333' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[Devolucion] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [TipoEstado]) VALUES (4, N'Autor Activo', N'Autor')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [TipoEstado]) VALUES (5, N'Autor Inactivo', N'Autor')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [TipoEstado]) VALUES (14, N'Autor retirado', N'Autor')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([LibroID], [Titulo], [ISBN], [AnioPublicacion], [CategoriaID], [EstadoID], [StockTotal], [StockDisponible]) VALUES (1, N'Cien años de soledad', N'9780307474728', 1967, 1, 6, 10, 10)
INSERT [dbo].[Libro] ([LibroID], [Titulo], [ISBN], [AnioPublicacion], [CategoriaID], [EstadoID], [StockTotal], [StockDisponible]) VALUES (2, N'La casa de los espíritus', N'9780553383805', 1982, 1, 6, 5, 5)
INSERT [dbo].[Libro] ([LibroID], [Titulo], [ISBN], [AnioPublicacion], [CategoriaID], [EstadoID], [StockTotal], [StockDisponible]) VALUES (3, N'Breve historia del tiempo', N'9780553380163', 1988, 2, 6, 5, 5)
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO
INSERT [dbo].[LibroAutor] ([LibroID], [AutorID]) VALUES (1, 1)
INSERT [dbo].[LibroAutor] ([LibroID], [AutorID]) VALUES (2, 2)
INSERT [dbo].[LibroAutor] ([LibroID], [AutorID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Multa] ON 

INSERT [dbo].[Multa] ([MultaID], [PrestamoID], [Monto], [FechaGeneracion], [Pagada], [FechaPago]) VALUES (1, 4, CAST(17.50 AS Decimal(18, 2)), CAST(N'2026-03-16T10:17:04.6800000' AS DateTime2), 0, NULL)
INSERT [dbo].[Multa] ([MultaID], [PrestamoID], [Monto], [FechaGeneracion], [Pagada], [FechaPago]) VALUES (2, 5, CAST(17.50 AS Decimal(18, 2)), CAST(N'2026-03-16T10:17:04.6800000' AS DateTime2), 0, NULL)
INSERT [dbo].[Multa] ([MultaID], [PrestamoID], [Monto], [FechaGeneracion], [Pagada], [FechaPago]) VALUES (3, 6, CAST(17.50 AS Decimal(18, 2)), CAST(N'2026-03-16T10:17:04.6800000' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [dbo].[Multa] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion], [TipoPersonaID]) VALUES (1, N'Milton', N'', N'Navarrete', N'Muñoz', N'002-220985-0002B', N'M', CAST(N'1988-05-07' AS Date), N'mnavarrete@udem.edu.ni', N'86846345', N'Reparto Altamira, del BAC 1c arriba, Managua', 4)
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion], [TipoPersonaID]) VALUES (2, N'Isaac', N'Antonio', N'Barrera', N'', N'001-150398-0001A', N'M', CAST(N'1998-03-15' AS Date), N'isaac@udem.edu.ni', N'8888-3456', N'Barrio San Judas, 2 cuadras al sur del parque, Managua', 1)
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion], [TipoPersonaID]) VALUES (4, N'José', N'Antonio', N'Gutiérrez', N'López', N'001-150392-1023X', N'M', CAST(N'1992-03-15' AS Date), N'jose.gutierrez92@gmail.com', N'87842215', N'Barrio San Judas, Managua, Nicaragua', 1)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([PrestamoID], [LibroID], [UsuarioID], [FechaPrestamo], [FechaVencimiento], [EstadoID], [FechaRegistro]) VALUES (1, 8, 1, CAST(N'2026-03-04T15:47:20.5100000' AS DateTime2), CAST(N'2026-03-11T15:47:20.5100000' AS DateTime2), 9, CAST(N'2026-03-04T15:47:20.5100000' AS DateTime2))
INSERT [dbo].[Prestamo] ([PrestamoID], [LibroID], [UsuarioID], [FechaPrestamo], [FechaVencimiento], [EstadoID], [FechaRegistro]) VALUES (2, 6, 2, CAST(N'2026-03-05T10:26:08.2433333' AS DateTime2), CAST(N'2026-03-12T10:26:08.2433333' AS DateTime2), 9, CAST(N'2026-03-05T10:26:08.2433333' AS DateTime2))
INSERT [dbo].[Prestamo] ([PrestamoID], [LibroID], [UsuarioID], [FechaPrestamo], [FechaVencimiento], [EstadoID], [FechaRegistro]) VALUES (3, 4, 2, CAST(N'2026-03-06T09:10:41.8300000' AS DateTime2), CAST(N'2026-03-13T09:10:41.8300000' AS DateTime2), 9, CAST(N'2026-03-06T09:10:41.8300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (1, N'Admin', N'Administrador del sistema')
INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (2, N'Bibliotecario', N'Gestión de préstamos')
INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (3, N'Lector', N'Usuario lector')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPersona] ON 

INSERT [dbo].[TipoPersona] ([TipoPersonaID], [NombreTipo], [Descripcion]) VALUES (1, N'Estudiante', N'Persona con carné estudiantil')
INSERT [dbo].[TipoPersona] ([TipoPersonaID], [NombreTipo], [Descripcion]) VALUES (2, N'Docente', N'Personal académico')
INSERT [dbo].[TipoPersona] ([TipoPersonaID], [NombreTipo], [Descripcion]) VALUES (3, N'Publico General', N'Ciudadano externo')
SET IDENTITY_INSERT [dbo].[TipoPersona] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [FechaRegistro]) VALUES (1, 1, N'$2a$12$hS0zKSrxVwszVNvNdcHHguWblmlH8WdGZAD6u8w483VFfoQ9sodnW', 1, CAST(N'2026-02-03T16:53:48.2788224' AS DateTime2))
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [FechaRegistro]) VALUES (2, 2, N'$2a$11$j8FDLg5VJFnqtPVardnPAOdCIAUsqnwRxThHhpICZJM9WNSgVMSha', 1, CAST(N'2026-02-03T16:54:04.1368454' AS DateTime2))
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [FechaRegistro]) VALUES (4, 4, N'$2a$11$DTrhiTNweAYIEy2lQ7DMYunsyxsfJwZEHeYIi1ldXeJ3FtkDdG2ty', 1, CAST(N'2026-03-16T09:51:54.0833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (1, 1)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (2, 1)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (4, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__A21FBE9FB502BBD5]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Categoria] ADD UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Configur__E8181E110861BD03]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[ConfiguracionSistema] ADD UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Devoluci__AA58A08175EAE754]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Devolucion] ADD UNIQUE NONCLUSTERED 
(
	[PrestamoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Estado]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Estado] ADD  CONSTRAINT [UQ_Estado] UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC,
	[TipoEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libro__447D36EA1FE8709C]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Libro] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__A9D1053405A22081]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [UQ__Persona__A9D1053405A22081] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__C035B8DD17EBA055]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [UQ__Persona__C035B8DD17EBA055] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537F4B5FEF47]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoPers__7586661CD2EB70BD]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[TipoPersona] ADD UNIQUE NONCLUSTERED 
(
	[NombreTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__7C34D32245F181B2]    Script Date: 21/3/2026 07:26:41 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfiguracionSistema] ADD  CONSTRAINT [DF__Configura__Fecha__6477ECF3]  DEFAULT (getdate()) FOR [FechaUltimaModificacion]
GO
ALTER TABLE [dbo].[Devolucion] ADD  CONSTRAINT [DF__Devolucio__Fecha__123EB7A3]  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[Libro] ADD  DEFAULT ((0)) FOR [StockTotal]
GO
ALTER TABLE [dbo].[Libro] ADD  DEFAULT ((0)) FOR [StockDisponible]
GO
ALTER TABLE [dbo].[Multa] ADD  CONSTRAINT [DF__Multa__FechaGene__160F4887]  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Multa] ADD  DEFAULT ((0)) FOR [Pagada]
GO
ALTER TABLE [dbo].[Prestamo] ADD  CONSTRAINT [DF_Prestamo_FechaPrestamo]  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[Prestamo] ADD  CONSTRAINT [DF__Prestamo__FechaR__0A9D95DB]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__FechaRe__6FE99F9F]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Autor]  WITH CHECK ADD  CONSTRAINT [FK_Autor_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Autor] CHECK CONSTRAINT [FK_Autor_Estado]
GO
ALTER TABLE [dbo].[Devolucion]  WITH CHECK ADD  CONSTRAINT [FK_Devolucion_Prestamo] FOREIGN KEY([PrestamoID])
REFERENCES [dbo].[Prestamo] ([PrestamoID])
GO
ALTER TABLE [dbo].[Devolucion] CHECK CONSTRAINT [FK_Devolucion_Prestamo]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Categoria]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Estado]
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Autor] FOREIGN KEY([AutorID])
REFERENCES [dbo].[Autor] ([AutorID])
GO
ALTER TABLE [dbo].[LibroAutor] CHECK CONSTRAINT [FK_LibroAutor_Autor]
GO
ALTER TABLE [dbo].[LibroAutor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Libro] FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libro] ([LibroID])
GO
ALTER TABLE [dbo].[LibroAutor] CHECK CONSTRAINT [FK_LibroAutor_Libro]
GO
ALTER TABLE [dbo].[Multa]  WITH CHECK ADD  CONSTRAINT [FK_Multa_Prestamo] FOREIGN KEY([PrestamoID])
REFERENCES [dbo].[Prestamo] ([PrestamoID])
GO
ALTER TABLE [dbo].[Multa] CHECK CONSTRAINT [FK_Multa_Prestamo]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_TipoPersona] FOREIGN KEY([TipoPersonaID])
REFERENCES [dbo].[TipoPersona] ([TipoPersonaID])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_TipoPersona]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Estado]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Libro] FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libro] ([LibroID])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([PersonaID])
REFERENCES [dbo].[Persona] ([PersonaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [CHK_Libro_Stock] CHECK  (([StockTotal]>=(0) AND [StockDisponible]>=(0) AND [StockDisponible]<=[StockTotal]))
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [CHK_Libro_Stock]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CHK_Prestamo_Fechas] CHECK  (([FechaVencimiento]>[FechaPrestamo]))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CHK_Prestamo_Fechas]
GO
/****** Object:  StoredProcedure [dbo].[UPS_AUTOR]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UPS_AUTOR]
(
    @Operacion INT,

    @AutorID INT = NULL,
    @PrimerNombre VARCHAR(100) = NULL,
    @PrimerApellido VARCHAR(100) = NULL,
    @SegundoApellido VARCHAR(100) = NULL,
    @Nacionalidad VARCHAR(100) = NULL,
    @EstadoID INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Operacion = 1
    BEGIN
        IF @PrimerNombre IS NULL OR @PrimerApellido IS NULL
        BEGIN
            RAISERROR('FALTAN DATOS OBLIGATORIOS PARA CREAR EL AUTOR.',16,1);
            RETURN;
        END

        INSERT INTO Autor
        (
            PrimerNombre,
            PrimerApellido,
            SegundoApellido,
            Nacionalidad,
            EstadoID
        )
        VALUES
        (
            @PrimerNombre,
            @PrimerApellido,
            @SegundoApellido,
            @Nacionalidad,
            ISNULL(@EstadoID, 4)
        );

        SELECT 'AUTOR CREADO CORRECTAMENTE' AS Mensaje;
        RETURN;
    END


    IF @Operacion = 2
    BEGIN
        IF @AutorID IS NULL
        BEGIN
            RAISERROR('AUTORID ES OBLIGATORIO PARA ACTUALIZAR.',16,1);
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Autor WHERE AutorID = @AutorID)
        BEGIN
            RAISERROR('EL AUTOR NO EXISTE.',16,1);
            RETURN;
        END

        UPDATE Autor
        SET
            PrimerNombre     = ISNULL(@PrimerNombre, PrimerNombre),
            PrimerApellido   = ISNULL(@PrimerApellido, PrimerApellido),
            SegundoApellido  = ISNULL(@SegundoApellido, SegundoApellido),
            Nacionalidad     = ISNULL(@Nacionalidad, Nacionalidad),
            EstadoID         = ISNULL(NULLIF(@EstadoID, 0), EstadoID)
        WHERE AutorID = @AutorID;

        SELECT 'AUTOR ACTUALIZADO CORRECTAMENTE' AS Mensaje;
        RETURN;
    END

    IF @Operacion = 3
    BEGIN
        IF @AutorID IS NULL
        BEGIN
            RAISERROR('AUTORID ES OBLIGATORIO PARA CONSULTAR.',16,1);
            RETURN;
        END

        SELECT
            AutorID,
            PrimerNombre,
            PrimerApellido,
            SegundoApellido,
            Nacionalidad,
            EstadoID
        FROM Autor
        WHERE AutorID = @AutorID;

        RETURN;
    END

    IF @Operacion = 4
    BEGIN
        SELECT
            AutorID,
            PrimerNombre,
            PrimerApellido,
            SegundoApellido,
            Nacionalidad,
            EstadoID
        FROM Autor
        ORDER BY PrimerApellido, SegundoApellido, PrimerNombre;

        RETURN;
    END

    RAISERROR('OPERACIÓN NO VÁLIDA. USE 1,2,3 O 4.',16,1);
END
GO
/****** Object:  StoredProcedure [dbo].[UPS_LOGIN]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[UPS_LOGIN]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.[UsuarioID],
        U.[Contrasena] AS PasswordHash,
        U.[EstadoID],
        P.[PersonaID],
        P.[PrimerNombre],
        P.[PrimerApellido],
        P.[Email],
        R.[RolID],
        R.[NombreRol]
    FROM [SyncLayerDB].[dbo].[Persona] P
    INNER JOIN [SyncLayerDB].[dbo].[Usuario] U ON P.PersonaID = U.PersonaID
    LEFT JOIN [SyncLayerDB].[dbo].[UsuarioRol] UR ON U.UsuarioID = UR.UsuarioID
    LEFT JOIN [SyncLayerDB].[dbo].[Rol] R ON UR.RolID = R.RolID
    WHERE P.Email = @Email AND U.EstadoID = 1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Categoria]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Categoria]
(
    @Operacion INT,

    @CategoriaID INT = NULL,
    @NombreCategoria NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    BEGIN TRY

        -- 1 = INSERTAR
        IF @Operacion = 1
        BEGIN
            INSERT INTO Categoria (
                NombreCategoria
            )
            VALUES (
                @NombreCategoria
            );

            COMMIT;
            SELECT 'CATEGORIA CREADA CORRECTAMENTE' AS Mensaje,
                   SCOPE_IDENTITY() AS ID;
            RETURN;
        END


        -- 2 = ACTUALIZAR
        IF @Operacion = 2
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM Categoria WHERE CategoriaID = @CategoriaID)
            BEGIN
                RAISERROR('LA CATEGORIA NO EXISTE.',16,1);
            END

            UPDATE Categoria
            SET NombreCategoria = ISNULL(@NombreCategoria, NombreCategoria)
            WHERE CategoriaID = @CategoriaID;

            COMMIT;
            SELECT 'CATEGORIA ACTUALIZADA CORRECTAMENTE' AS Mensaje;
            RETURN;
        END


        -- 3 = LISTAR
        IF @Operacion = 3
        BEGIN
            SELECT 
                CategoriaID,
                NombreCategoria
            FROM Categoria
            ORDER BY NombreCategoria ASC;

            COMMIT;
            RETURN;
        END


        RAISERROR('OPERACIÓN NO VÁLIDA.',16,1);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Estado]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Estado]
(
    @Operacion INT,

    @EstadoID INT = NULL,
    @NombreEstado NVARCHAR(100) = NULL,
    @TipoEstado NVARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    BEGIN TRY
        IF @Operacion = 1
        BEGIN
            INSERT INTO Estado (
                NombreEstado,
                TipoEstado
            )
            VALUES (
                @NombreEstado,
                @TipoEstado
            );

            COMMIT;
            SELECT 'ESTADO CREADO CORRECTAMENTE' AS Mensaje,
                   SCOPE_IDENTITY() AS ID;
            RETURN;
        END

        IF @Operacion = 2
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM Estado WHERE EstadoID = @EstadoID)
            BEGIN
                RAISERROR('EL ESTADO NO EXISTE.',16,1);
            END

            UPDATE Estado
            SET NombreEstado = ISNULL(@NombreEstado, NombreEstado),
                TipoEstado   = ISNULL(@TipoEstado, TipoEstado)
            WHERE EstadoID = @EstadoID;

            COMMIT;
            SELECT 'ESTADO ACTUALIZADO CORRECTAMENTE' AS Mensaje;
            RETURN;
        END
        IF @Operacion = 3
        BEGIN
            SELECT 
                EstadoID,
                NombreEstado,
                TipoEstado
            FROM Estado
            ORDER BY NombreEstado ASC;

            COMMIT;
            RETURN;
        END

        RAISERROR('OPERACIÓN NO VÁLIDA.',16,1);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[USP_GenerarMultas]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenerarMultas]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRAN;

    BEGIN TRY

        DECLARE @ValorDiaMora DECIMAL(18,2);
        DECLARE @EstadoVigente INT;
        DECLARE @EstadoMora INT;
        DECLARE @EstadoDevuelto INT;

        SELECT @ValorDiaMora = Valor
        FROM ConfiguracionSistema
        WHERE Clave = 'VALOR_DIA_MORA';

        SELECT @EstadoVigente = EstadoID
        FROM Estado
        WHERE NombreEstado = 'Vigente'
        AND TipoEstado = 'Prestamo';

        SELECT @EstadoMora = EstadoID
        FROM Estado
        WHERE NombreEstado = 'En Mora'
        AND TipoEstado = 'Prestamo';

        SELECT @EstadoDevuelto = EstadoID
        FROM Estado
        WHERE NombreEstado = 'Devuelto'
        AND TipoEstado = 'Prestamo';


        INSERT INTO MULTA (PrestamoID, Monto)
        SELECT
            p.PrestamoID,
            DATEDIFF(DAY, CAST(p.FechaVencimiento AS DATE), CAST(GETDATE() AS DATE)) * @ValorDiaMora
        FROM Prestamo p
        WHERE p.EstadoID = @EstadoVigente
        AND p.FechaVencimiento < GETDATE()
        AND NOT EXISTS (
            SELECT 1 FROM Multa m WHERE m.PrestamoID = p.PrestamoID
        );

        UPDATE m
        SET Monto = DATEDIFF(DAY, CAST(p.FechaVencimiento AS DATE), CAST(GETDATE() AS DATE)) * @ValorDiaMora
        FROM Multa m
        JOIN Prestamo p ON m.PrestamoID = p.PrestamoID
        WHERE p.FechaVencimiento < GETDATE()
        AND p.EstadoID IN (@EstadoVigente, @EstadoMora)
        AND p.EstadoID <> @EstadoDevuelto;

        UPDATE p
        SET EstadoID = @EstadoMora
        FROM Prestamo p
        WHERE p.EstadoID = @EstadoVigente
        AND p.FechaVencimiento < GETDATE();

        COMMIT;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_GenerarMultas2]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GenerarMultas2]
AS
BEGIN
    SET NOCOUNT ON;

    -- Usamos una variable para la fecha actual (solo DATE) para asegurar consistencia
    DECLARE @Hoy DATE = CAST(GETDATE() AS DATE);
    
    DECLARE @ValorDiaMora DECIMAL(18,2);
    DECLARE @EstadoVigente INT;
    DECLARE @EstadoMora INT;
    DECLARE @EstadoDevuelto INT;

    -- 1. Obtener configuraciones y IDs de estado en una sola lectura
    SELECT @ValorDiaMora = Valor 
    FROM ConfiguracionSistema 
    WHERE Clave = 'VALOR_DIA_MORA';

    SELECT @EstadoVigente = EstadoID FROM Estado WHERE NombreEstado = 'Vigente' AND TipoEstado = 'Prestamo';
    SELECT @EstadoMora = EstadoID FROM Estado WHERE NombreEstado = 'En Mora' AND TipoEstado = 'Prestamo';
    SELECT @EstadoDevuelto = EstadoID FROM Estado WHERE NombreEstado = 'Devuelto' AND TipoEstado = 'Prestamo';

    BEGIN TRAN;

    BEGIN TRY

        -- 2. INSERTAR: Crear registros de multa para préstamos que acaban de vencer hoy
        -- y que aún no tienen una entrada en la tabla MULTA.
        INSERT INTO MULTA (PrestamoID, Monto)
        SELECT 
            p.PrestamoID,
            DATEDIFF(DAY, CAST(p.FechaVencimiento AS DATE), @Hoy) * @ValorDiaMora
        FROM Prestamo p
        WHERE p.EstadoID = @EstadoVigente 
          AND CAST(p.FechaVencimiento AS DATE) < @Hoy
          AND NOT EXISTS (
              SELECT 1 FROM Multa m WHERE m.PrestamoID = p.PrestamoID
          );

        -- 3. UPDATE: Actualizar el monto de las multas existentes.
        -- Esto es lo que fallaba: ahora actualizamos basándonos en que el préstamo
        -- NO haya sido devuelto aún, sin importar si su estado es 'Vigente' o 'En Mora'.
        UPDATE m
        SET m.Monto = DATEDIFF(DAY, CAST(p.FechaVencimiento AS DATE), @Hoy) * @ValorDiaMora
        FROM Multa m
        INNER JOIN Prestamo p ON m.PrestamoID = p.PrestamoID
        WHERE CAST(p.FechaVencimiento AS DATE) < @Hoy
          AND p.EstadoID <> @EstadoDevuelto;

        -- 4. ACTUALIZAR ESTADO: Marcar como 'En Mora' los préstamos vencidos
        -- Se hace al final para no interferir con la lógica de los pasos anteriores.
        UPDATE p
        SET p.EstadoID = @EstadoMora
        FROM Prestamo p
        WHERE p.EstadoID = @EstadoVigente
          AND CAST(p.FechaVencimiento AS DATE) < @Hoy;

        COMMIT;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Libro]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Libro]
(
    @Operacion INT, 

    @LibroID INT = NULL,
    @Titulo NVARCHAR(255) = NULL,
    @ISBN VARCHAR(20) = NULL,
    @AnioPublicacion INT = NULL,
    @CategoriaID INT = NULL,
    @EstadoID INT = NULL,
    @StockTotal INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    BEGIN TRY
        
                IF @Operacion = 1 AND @EstadoID IS NULL
                BEGIN
                   SELECT TOP 1 @EstadoID = EstadoID 
                   FROM Estado 
                   WHERE NombreEstado = 'LibroDisponible'
                   AND TipoEstado = 'Libro';
                END



        IF @Operacion = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM Libro WHERE ISBN = @ISBN)
            BEGIN
                RAISERROR('EL ISBN YA SE ENCUENTRA REGISTRADO.', 16, 1);
            END

            INSERT INTO Libro (
                Titulo, 
                ISBN, 
                AnioPublicacion, 
                CategoriaID, 
                EstadoID, 
                StockTotal, 
                StockDisponible
            )
            VALUES (
                @Titulo, 
                @ISBN, 
                @AnioPublicacion, 
                @CategoriaID, 
                @EstadoID, 
                @StockTotal, 
                @StockTotal 
            );

            COMMIT;
            SELECT 'LIBRO CREADO CORRECTAMENTE' AS Mensaje, SCOPE_IDENTITY() AS ID;
            RETURN;
        END


        IF @Operacion = 2
        BEGIN

            IF NOT EXISTS (SELECT 1 FROM Libro WHERE LibroID = @LibroID)
            BEGIN
                RAISERROR('EL LIBRO NO EXISTE.', 16, 1);
            END

            DECLARE @Prestados INT;
            SELECT @Prestados = StockTotal - StockDisponible FROM Libro WHERE LibroID = @LibroID;

            UPDATE Libro
            SET Titulo = ISNULL(@Titulo, Titulo),
                ISBN = ISNULL(@ISBN, ISBN),
                AnioPublicacion = ISNULL(@AnioPublicacion, AnioPublicacion),
                CategoriaID = ISNULL(@CategoriaID, CategoriaID),
                EstadoID = ISNULL(@EstadoID, EstadoID),
                StockTotal = ISNULL(@StockTotal, StockTotal),
                StockDisponible = ISNULL(@StockTotal, StockTotal) - @Prestados
            WHERE LibroID = @LibroID;

            COMMIT;
            SELECT 'LIBRO ACTUALIZADO CORRECTAMENTE' AS Mensaje;
            RETURN;
        END

IF @Operacion = 3
BEGIN
    SELECT 
        l.LibroID,
        l.Titulo,
        l.ISBN,
        l.AnioPublicacion,
        l.CategoriaID,
        l.EstadoID,
        c.NombreCategoria,
        e.NombreEstado,
        l.StockTotal,
        l.StockDisponible
    FROM Libro l
    INNER JOIN Categoria c ON l.CategoriaID = c.CategoriaID
    INNER JOIN Estado e ON l.EstadoID = e.EstadoID
    WHERE l.LibroID = @LibroID;

    COMMIT;
    RETURN;
END


        IF @Operacion = 4
        BEGIN
            SELECT 
                l.LibroID,
                l.Titulo,
                l.ISBN,
                l.AnioPublicacion,
                l.CategoriaID,   
                l.EstadoID, 
                c.NombreCategoria,
                e.NombreEstado,
                l.StockTotal,
                l.StockDisponible
            FROM Libro l
            INNER JOIN Categoria c ON l.CategoriaID = c.CategoriaID
            INNER JOIN Estado e ON l.EstadoID = e.EstadoID
            ORDER BY l.Titulo ASC;

            COMMIT;
            RETURN;
        END

        RAISERROR('OPERACIÓN NO VÁLIDA.', 16, 1);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Persona]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Persona]
(
    @Operacion INT,

    -- CAMPOS DE PERSONA
    @PersonaID INT = NULL,
    @PrimerNombre NVARCHAR(100) = NULL,
    @SegundoNombre NVARCHAR(100) = NULL,
    @PrimerApellido NVARCHAR(100) = NULL,
    @SegundoApellido NVARCHAR(100) = NULL,
    @DNI NVARCHAR(20) = NULL,
    @Genero NVARCHAR(20) = NULL,
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(MAX) = NULL,
    @TipoPersonaID INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;


    IF @Operacion = 1
    BEGIN
        IF @PrimerNombre IS NULL OR @PrimerApellido IS NULL
           OR @DNI IS NULL OR @Email IS NULL OR @TipoPersonaID IS NULL
        BEGIN
            RAISERROR('FALTAN DATOS OBLIGATORIOS PARA CREAR LA PERSONA.',16,1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
        BEGIN
            RAISERROR('YA EXISTE UNA PERSONA CON ESTE DNI.',16,1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
        BEGIN
            RAISERROR('YA EXISTE UNA PERSONA CON ESTE EMAIL.',16,1);
            RETURN;
        END

        INSERT INTO Persona (
            PrimerNombre, SegundoNombre,
            PrimerApellido, SegundoApellido,
            DNI, Genero, FechaNacimiento,
            Email, Telefono, Direccion,
            TipoPersonaID
        )
        VALUES (
            @PrimerNombre, @SegundoNombre,
            @PrimerApellido, @SegundoApellido,
            @DNI, @Genero, @FechaNacimiento,
            @Email, @Telefono, @Direccion,
            @TipoPersonaID
        );

        SELECT 'PERSONA CREADA CORRECTAMENTE' AS Mensaje;
        RETURN;
    END


    IF @Operacion = 2
    BEGIN
        IF @PersonaID IS NULL
        BEGIN
            RAISERROR('PERSONAID ES OBLIGATORIO PARA ACTUALIZAR.',16,1);
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Persona WHERE PersonaID = @PersonaID)
        BEGIN
            RAISERROR('LA PERSONA NO EXISTE.',16,1);
            RETURN;
        END

        UPDATE Persona
        SET
            PrimerNombre     = ISNULL(@PrimerNombre, PrimerNombre),
            SegundoNombre    = ISNULL(@SegundoNombre, SegundoNombre),
            PrimerApellido   = ISNULL(@PrimerApellido, PrimerApellido),
            SegundoApellido  = ISNULL(@SegundoApellido, SegundoApellido),
            Genero           = ISNULL(@Genero, Genero),
            FechaNacimiento  = ISNULL(@FechaNacimiento, FechaNacimiento),
            Email            = ISNULL(@Email, Email),
            Telefono         = ISNULL(@Telefono, Telefono),
            Direccion        = ISNULL(@Direccion, Direccion),
            TipoPersonaID = ISNULL(NULLIF(@TipoPersonaID, 0), TipoPersonaID)
        WHERE PersonaID = @PersonaID;

        SELECT 'PERSONA ACTUALIZADA CORRECTAMENTE' AS Mensaje;
        RETURN;
    END

    IF @Operacion = 3
    BEGIN
        IF @PersonaID IS NULL
        BEGIN
            RAISERROR('PERSONAID ES OBLIGATORIO PARA CONSULTAR.',16,1);
            RETURN;
        END

        SELECT *
        FROM Persona
        WHERE PersonaID = @PersonaID;

        RETURN;
    END

    IF @Operacion = 4
    BEGIN
        SELECT *
        FROM Persona
        ORDER BY PrimerApellido, PrimerNombre;

        RETURN;
    END

    RAISERROR('OPERACIÓN NO VÁLIDA. USE 1, 2, 3 O 4.',16,1);
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_Prestamo]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_Prestamo]
(
    @Operacion INT,
    @PrestamoID INT = NULL,
    @LibroID INT = NULL,
    @UsuarioID INT = NULL,
    @Observaciones NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    BEGIN TRY
        DECLARE 
            @EstadoPrestamoVigente INT,
            @EstadoPrestamoDevuelto INT,
            @EstadoPrestamoEnMora INT,
            @EstadoLibroDisponible INT,
            @MaxDiasPrestamo INT,
            @MaxLibrosUsuario INT,
            @PrestamosActivos INT;

    
    -- 1 CREAR PRÉSTAMO
    
        IF @Operacion = 1
        BEGIN
            IF @LibroID IS NULL OR @UsuarioID IS NULL
            BEGIN
                ;THROW 50001, 'Libroid y usuarioid son obligatorios.', 1;
            END

            -- Obtener Estados necesarios
            SELECT @EstadoPrestamoVigente = EstadoID FROM Estado WHERE NombreEstado = 'Vigente' AND TipoEstado = 'Prestamo';
            SELECT @EstadoPrestamoEnMora = EstadoID FROM Estado WHERE NombreEstado = 'En Mora' AND TipoEstado = 'Prestamo';
            SELECT @EstadoLibroDisponible = EstadoID FROM Estado WHERE NombreEstado = 'Disponible' AND TipoEstado = 'Libro';

            IF @EstadoPrestamoVigente IS NULL OR @EstadoPrestamoEnMora IS NULL OR @EstadoLibroDisponible IS NULL
            BEGIN
                ;THROW 50002, 'Faltan configuraciones de estado en la base de datos.', 1;
            END

            -- Obtener Configuraciones
            SELECT @MaxDiasPrestamo = CAST(Valor AS INT) FROM ConfiguracionSistema WHERE Clave = 'MAX_DIAS_PRESTAMO';
            SELECT @MaxLibrosUsuario = CAST(Valor AS INT) FROM ConfiguracionSistema WHERE Clave = 'MAX_LIBROS_USUARIO';

            IF @MaxDiasPrestamo IS NULL OR @MaxLibrosUsuario IS NULL OR @MaxLibrosUsuario <= 0
            BEGIN
                ;THROW 50003, 'Configuración del sistema inválida o faltante.', 1;
            END

            -- Validar copia vigente
            IF EXISTS (
                SELECT 1 FROM Prestamo 
                WHERE UsuarioID = @UsuarioID AND LibroID = @LibroID AND EstadoID IN (@EstadoPrestamoVigente, @EstadoPrestamoEnMora)
            )
            BEGIN
                ;THROW 50004, 'El usuario ya tiene una copia vigente o en mora de este libro.', 1;
            END

            -- Validar límite de préstamos
            SELECT @PrestamosActivos = COUNT(*) FROM Prestamo WHERE UsuarioID = @UsuarioID AND EstadoID = @EstadoPrestamoVigente;

            IF @PrestamosActivos >= @MaxLibrosUsuario
            BEGIN
                ;THROW 50005, 'Límite máximo de préstamos alcanzado para este usuario.', 1;
            END

            BEGIN TRAN; 

            UPDATE Libro
            SET StockDisponible = StockDisponible - 1
            WHERE LibroID = @LibroID
              AND EstadoID = @EstadoLibroDisponible
              AND StockDisponible > 0;

            IF @@ROWCOUNT = 0
            BEGIN
                ;THROW 50006, 'El libro no está disponible en stock.', 1;
            END

            -- Insertar préstamo
            INSERT INTO Prestamo (LibroID, UsuarioID, FechaPrestamo, FechaVencimiento, EstadoID)
            VALUES (@LibroID, @UsuarioID, CURRENT_TIMESTAMP, DATEADD(DAY, @MaxDiasPrestamo, CURRENT_TIMESTAMP), @EstadoPrestamoVigente);

            COMMIT TRAN;

            SELECT 'Préstamo creado correctamente' AS Mensaje;
            RETURN;
        END


    -- 2  DEVOLVER PRÉSTAMO

        IF @Operacion = 2
        BEGIN
            IF @PrestamoID IS NULL
            BEGIN
                ;THROW 50007, 'Prestamoid es obligatorio.', 1;
            END

            -- Obtener Estados necesarios
            SELECT @EstadoPrestamoVigente = EstadoID FROM Estado WHERE NombreEstado = 'Vigente' AND TipoEstado = 'Prestamo';
            SELECT @EstadoPrestamoEnMora = EstadoID FROM Estado WHERE NombreEstado = 'En Mora' AND TipoEstado = 'Prestamo';
            SELECT @EstadoPrestamoDevuelto = EstadoID FROM Estado WHERE NombreEstado = 'Devuelto' AND TipoEstado = 'Prestamo';

            IF NOT EXISTS (
                SELECT 1 FROM Prestamo WHERE PrestamoID = @PrestamoID AND EstadoID IN (@EstadoPrestamoVigente, @EstadoPrestamoEnMora)
            )
            BEGIN
                ;THROW 50008, 'El préstamo no está vigente ni en mora.', 1;
            END

            IF EXISTS (SELECT 1 FROM Devolucion WHERE PrestamoID = @PrestamoID)
            BEGIN
                ;THROW 50009, 'El préstamo ya fue devuelto.', 1;
            END

            BEGIN TRAN; 

            INSERT INTO Devolucion (PrestamoID, Observaciones)
            VALUES (@PrestamoID, @Observaciones);

            UPDATE Prestamo
            SET EstadoID = @EstadoPrestamoDevuelto
            WHERE PrestamoID = @PrestamoID;

            UPDATE l
            SET StockDisponible = l.StockDisponible + 1
            FROM Libro l
            INNER JOIN Prestamo p ON l.LibroID = p.LibroID
            WHERE p.PrestamoID = @PrestamoID;

            COMMIT TRAN;

            SELECT 'Préstamo devuelto correctamente' AS Mensaje;
            RETURN;
        END

    
    -- 3  DETALLE POR ID 

        IF @Operacion = 3
        BEGIN
            IF @PrestamoID IS NULL
            BEGIN
                ;THROW 50010, 'PRESTAMOID ES OBLIGATORIO.', 1;
            END

            SELECT p.PrestamoID, l.Titulo, p.FechaPrestamo, p.FechaVencimiento, e.NombreEstado
            FROM Prestamo p
            JOIN Libro l ON p.LibroID = l.LibroID
            JOIN Estado e ON p.EstadoID = e.EstadoID
            WHERE p.PrestamoID = @PrestamoID;

            RETURN;
        END

    
    -- 4 LISTAR TODOS 
    
        IF @Operacion = 4
        BEGIN
            SELECT p.PrestamoID, l.Titulo, per.PrimerNombre + ' ' + per.PrimerApellido AS Usuario, 
                   p.FechaPrestamo, p.FechaVencimiento, e.NombreEstado
            FROM Prestamo p
            JOIN Libro l ON p.LibroID = l.LibroID
            JOIN Usuario u ON p.UsuarioID = u.UsuarioID
            JOIN Persona per ON u.PersonaID = per.PersonaID
            JOIN Estado e ON p.EstadoID = e.EstadoID
            ORDER BY p.FechaPrestamo DESC;

            RETURN;
        END

        ;THROW 50011, 'OPERACIÓN NO VÁLIDA.', 1;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN;
        END
        ;THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_PrestamosUsuarioLogin]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PrestamosUsuarioLogin]
(
    @UsuarioID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ValorDiaMora DECIMAL(18,2);

    SELECT @ValorDiaMora = Valor
    FROM ConfiguracionSistema
    WHERE Clave = 'VALOR_DIA_MORA';

    SELECT 
        p.PrestamoID,
        l.Titulo AS Libro,
        p.FechaPrestamo,
        p.FechaVencimiento,
        e.NombreEstado,

        DiasAtraso =
        CASE 
            WHEN p.FechaVencimiento < FechaCalculo
            THEN DATEDIFF(DAY, FechaVencimientoDate, FechaCalculoDate)
            ELSE 0
        END,

        MontoMulta =
        CASE 
            WHEN p.FechaVencimiento < FechaCalculo
            THEN DATEDIFF(DAY, FechaVencimientoDate, FechaCalculoDate) * @ValorDiaMora
            ELSE 0
        END,

        EstadoMora =
        CASE 
            WHEN d.FechaEntrega IS NOT NULL 
                 AND d.FechaEntrega <= p.FechaVencimiento
                THEN 'DEVUELTO A TIEMPO'

            WHEN d.FechaEntrega IS NOT NULL 
                 AND d.FechaEntrega > p.FechaVencimiento
                THEN 'DEVUELTO CON MORA'

            WHEN d.FechaEntrega IS NULL 
                 AND GETDATE() > p.FechaVencimiento
                THEN 'EN MORA'

            ELSE 'VIGENTE'
        END

    FROM Prestamo p
    JOIN Libro l ON p.LibroID = l.LibroID
    JOIN Estado e ON p.EstadoID = e.EstadoID
    LEFT JOIN Devolucion d ON p.PrestamoID = d.PrestamoID

    CROSS APPLY (
        SELECT
            FechaCalculo = ISNULL(d.FechaEntrega, GETDATE()),
            FechaCalculoDate = CAST(ISNULL(d.FechaEntrega, GETDATE()) AS DATE),
            FechaVencimientoDate = CAST(p.FechaVencimiento AS DATE)
    ) calc

    WHERE p.UsuarioID = @UsuarioID
    ORDER BY p.FechaPrestamo DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ReporteMora]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_ReporteMora]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoMora INT;

    SELECT @EstadoMora = EstadoID
    FROM Estado
    WHERE NombreEstado = 'En Mora'
      AND TipoEstado = 'Prestamo';

    SELECT 
        per.PrimerNombre + ' ' + per.PrimerApellido AS NombrePersona,
        l.Titulo AS Libro,
        p.FechaPrestamo,
        p.FechaVencimiento,
        DATEDIFF(DAY, CAST(p.FechaVencimiento AS DATE), CAST(GETDATE() AS DATE)) AS DiasMora,
        m.Monto AS MontoAdeudado
    FROM Prestamo p
    INNER JOIN Usuario u ON p.UsuarioID = u.UsuarioID
    INNER JOIN Persona per ON u.PersonaID = per.PersonaID
    INNER JOIN Libro l ON p.LibroID = l.LibroID
    LEFT JOIN Multa m ON p.PrestamoID = m.PrestamoID
    WHERE p.EstadoID = @EstadoMora
    ORDER BY DiasMora DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[USP_Rol]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Rol]
(
    @Operacion INT,

    @RolID INT = NULL,
    @NombreRol NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    BEGIN TRY

        IF @Operacion = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM Rol WHERE NombreRol = @NombreRol)
            BEGIN
                RAISERROR('EL ROL YA EXISTE.',16,1);
            END

            INSERT INTO Rol
            (
                NombreRol,
                Descripcion
            )
            VALUES
            (
                @NombreRol,
                @Descripcion
            );

            COMMIT;
            SELECT 'ROL CREADO CORRECTAMENTE' AS Mensaje,
                   SCOPE_IDENTITY() AS ID;
            RETURN;
        END

        IF @Operacion = 2
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM Rol WHERE RolID = @RolID)
            BEGIN
                RAISERROR('EL ROL NO EXISTE.',16,1);
            END

            IF EXISTS (SELECT 1 FROM Rol WHERE NombreRol = @NombreRol AND RolID <> @RolID)
            BEGIN
                RAISERROR('YA EXISTE UN ROL CON ESE NOMBRE.',16,1);
            END

            UPDATE Rol
            SET NombreRol = ISNULL(@NombreRol, NombreRol),
                Descripcion = ISNULL(@Descripcion, Descripcion)
            WHERE RolID = @RolID;

            COMMIT;
            SELECT 'ROL ACTUALIZADO CORRECTAMENTE' AS Mensaje;
            RETURN;
        END

        IF @Operacion = 3
        BEGIN
            SELECT
                RolID,
                NombreRol,
                Descripcion
            FROM Rol
            ORDER BY NombreRol ASC;

            COMMIT;
            RETURN;
        END

        RAISERROR('OPERACIÓN NO VÁLIDA.',16,1);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[USP_TipoPersona]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_TipoPersona]
(
    @Operacion INT,

    @TipoPersonaID INT = NULL,
    @NombreTipo NVARCHAR(100) = NULL,
    @Descripcion NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    BEGIN TRY

        -- =========================
        -- 1 = CREAR
        -- =========================
        IF @Operacion = 1
        BEGIN
            INSERT INTO TipoPersona (
                NombreTipo,
                Descripcion
            )
            VALUES (
                @NombreTipo,
                @Descripcion
            );

            COMMIT;
            SELECT 'TIPO PERSONA CREADO CORRECTAMENTE' AS Mensaje,
                   SCOPE_IDENTITY() AS ID;
            RETURN;
        END

        -- =========================
        -- 2 = EDITAR
        -- =========================
        IF @Operacion = 2
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM TipoPersona WHERE TipoPersonaID = @TipoPersonaID)
            BEGIN
                RAISERROR('EL TIPO PERSONA NO EXISTE.',16,1);
            END

            UPDATE TipoPersona
            SET NombreTipo = ISNULL(@NombreTipo, NombreTipo),
                Descripcion = ISNULL(@Descripcion, Descripcion)
            WHERE TipoPersonaID = @TipoPersonaID;

            COMMIT;
            SELECT 'TIPO PERSONA ACTUALIZADO CORRECTAMENTE' AS Mensaje;
            RETURN;
        END

        -- =========================
        -- 3 = LISTAR
        -- =========================
        IF @Operacion = 3
        BEGIN
            SELECT 
                TipoPersonaID,
                NombreTipo,
                Descripcion
            FROM TipoPersona
            ORDER BY NombreTipo ASC;

            COMMIT;
            RETURN;
        END

        RAISERROR('OPERACIÓN NO VÁLIDA.',16,1);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuario]    Script Date: 21/3/2026 07:26:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Usuario]
(
    @Operacion INT,
    @UsuarioID INT = NULL,
    @PersonaID INT = NULL,
    @Contrasena NVARCHAR(255) = NULL,
    @EstadoID INT = NULL,
    @RolID INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

    -------------------------------------------------------
    -- 1 CREAR USUARIO
    -------------------------------------------------------

        IF @Operacion = 1
        BEGIN

            IF @PersonaID IS NULL OR @Contrasena IS NULL OR @EstadoID IS NULL
            BEGIN
                ;THROW 50001, 'PERSONAID, CONTRASENA Y ESTADOID SON OBLIGATORIOS.', 1;
            END

            BEGIN TRAN;

            INSERT INTO Usuario
            (
                PersonaID,
                Contrasena,
                EstadoID,
                FechaRegistro
            )
            VALUES
            (
                @PersonaID,
                @Contrasena,
                @EstadoID,
                GETDATE()
            );

            DECLARE @NuevoUsuarioID INT = SCOPE_IDENTITY();

            IF @RolID IS NOT NULL
            BEGIN
                INSERT INTO UsuarioRol
                (
                    UsuarioID,
                    RolID
                )
                VALUES
                (
                    @NuevoUsuarioID,
                    @RolID
                );
            END

            COMMIT;

            SELECT 'USUARIO CREADO CORRECTAMENTE' AS Mensaje,
                   @NuevoUsuarioID AS ID;

            RETURN;
        END


    -------------------------------------------------------
    -- 2 ACTUALIZAR USUARIO
    -------------------------------------------------------

        IF @Operacion = 2
        BEGIN

            IF NOT EXISTS (SELECT 1 FROM Usuario WHERE UsuarioID = @UsuarioID)
            BEGIN
                ;THROW 50002, 'EL USUARIO NO EXISTE.', 1;
            END

            DECLARE 
                @EstadoPrestamoVigente INT,
                @EstadoPrestamoEnMora INT,
                @EstadoUsuarioInactivo INT;

            SELECT @EstadoPrestamoVigente = EstadoID
            FROM Estado
            WHERE NombreEstado = 'Vigente' AND TipoEstado = 'Prestamo';

            SELECT @EstadoPrestamoEnMora = EstadoID
            FROM Estado
            WHERE NombreEstado = 'En Mora' AND TipoEstado = 'Prestamo';

            SELECT @EstadoUsuarioInactivo = EstadoID
            FROM Estado
            WHERE NombreEstado = 'Usuario Inactivo' AND TipoEstado = 'Usuario';


            IF @EstadoID = @EstadoUsuarioInactivo
            BEGIN
                IF EXISTS
                (
                    SELECT 1
                    FROM Prestamo
                    WHERE UsuarioID = @UsuarioID
                    AND EstadoID IN (@EstadoPrestamoVigente, @EstadoPrestamoEnMora)
                )
                BEGIN
                    ;THROW 50003, 
                    'NO SE PUEDE INACTIVAR EL USUARIO PORQUE TIENE PRÉSTAMOS ACTIVOS.', 
                    1;
                END
            END

            BEGIN TRAN;

            UPDATE Usuario
            SET 
                PersonaID = ISNULL(@PersonaID, PersonaID),
                Contrasena = ISNULL(@Contrasena, Contrasena),
                EstadoID = ISNULL(@EstadoID, EstadoID)
            WHERE UsuarioID = @UsuarioID;


            IF @RolID IS NOT NULL
            BEGIN
                IF EXISTS (SELECT 1 FROM UsuarioRol WHERE UsuarioID = @UsuarioID)
                BEGIN
                    UPDATE UsuarioRol
                    SET RolID = @RolID
                    WHERE UsuarioID = @UsuarioID;
                END
                ELSE
                BEGIN
                    INSERT INTO UsuarioRol
                    (
                        UsuarioID,
                        RolID
                    )
                    VALUES
                    (
                        @UsuarioID,
                        @RolID
                    );
                END
            END

            COMMIT;

            SELECT 'USUARIO ACTUALIZADO CORRECTAMENTE' AS Mensaje;

            RETURN;
        END


    -------------------------------------------------------
    -- 3 LISTAR USUARIOS
    -------------------------------------------------------

        IF @Operacion = 3
        BEGIN
            SELECT
                U.UsuarioID,
                U.PersonaID,
                P.PrimerNombre + ' ' + P.PrimerApellido AS NombrePersona,
                U.EstadoID,
                E.NombreEstado,
                UR.RolID,
                R.NombreRol,
                U.FechaRegistro
            FROM Usuario U
            LEFT JOIN Persona P ON U.PersonaID = P.PersonaID
            LEFT JOIN Estado E ON U.EstadoID = E.EstadoID
            LEFT JOIN UsuarioRol UR ON U.UsuarioID = UR.UsuarioID
            LEFT JOIN Rol R ON UR.RolID = R.RolID
            ORDER BY U.UsuarioID DESC;

            RETURN;
        END


    -------------------------------------------------------
    -- 4 USUARIOS SIN ROL
    -------------------------------------------------------

        IF @Operacion = 4
        BEGIN
            SELECT
                U.UsuarioID,
                U.PersonaID,
                U.Contrasena,
                U.EstadoID,
                U.FechaRegistro
            FROM Usuario U
            LEFT JOIN UsuarioRol UR
                ON U.UsuarioID = UR.UsuarioID
            WHERE UR.UsuarioID IS NULL
            ORDER BY U.UsuarioID DESC;

            RETURN;
        END


        ;THROW 50004, 'OPERACIÓN NO VÁLIDA.', 1;


    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;

    END CATCH

END
GO
USE [master]
GO
